body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 750px;
    max-width: 750px;
}

hr.solid {
    border-top: 1px solid rgb(233, 233, 233);
    margin-top: 20px;
    margin-bottom: 20px ;
}

#header, h3, #file-upload-container h3 {
    text-align: left;
    margin-bottom: 20px;
}

#title-card {
    width: 95%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2 {
    color:#393D5E;
    margin-bottom: 5px;
    text-align: left;
}

h4 {
    color:#393D5E;
    text-align: left;
}

p {
    margin-bottom: 10px;
    text-align: left;
    color: #393D5E;
}

#file-upload-container input[type="file"] {
    margin-bottom: 20px;
}

#columns-container {
    margin: 20px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}

#columns-container th, #columns-container td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    text-align: center;

}

#columns-container tr:nth-child(even) {
    max-width: 20px;
    background-color: #f2f2f2;
    overflow: hidden;
    text-overflow: ellipsis;  
    text-align: center;
  
}

.column-item td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

#button-container {
    width: 95%;
    margin-left: auto; 
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}


#save-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #0AA5A5;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

#save-button:hover {
    background-color: #53C0C0;
}

#restart-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border-width: 2px;
    background-color: white;
    border-color:#080C36;
    color: #080C36;
    cursor: pointer;
    margin-left: 10px;
}

#restart-button:hover {
    color: #080C36;
    border-color: #080C36;
}

#delimiter-container, #columns-container-wrapper {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

#delimiter-container h2, #columns-container-wrapper h2 {
    margin: 0 0 10px 0;
    font-size: 1.25em;
    text-align: left;
}

#delimiter-container p, #columns-container-wrapper p {
    margin: 0 0 10px 0;
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2ECC71;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

a {
    text-decoration: none;
    color: #005f5f;
}

#file-upload-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#drag-drop-area {
    width: 100%;
    padding: 20px;
    border: 2px dashed #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #0AA5A5;
    color: white;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #53C0C0;
}

#delimiter-container div {
    display: block;
}

#delimiter-container div > div {
    align-self: flex-start;
}

.text-input-container input, #new-delimiter {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#new-delimiter {
    max-width: 150px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f9f9f9;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23000"><polygon points="5,8 10,13 15,8"></polygon></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: 10px auto, 100%;
}